
<head>
    <title>Python Shield</title>
    <meta name="icon" content="res/icon.webp"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <link rel="stylesheet" href="res/style.css"/>
    <link rel="stylesheet" href="res/viewport.css"/>
    <link rel="icon" href="res/icon.webp"/>
</head>