* {
    transition: all 0.3s ease;
}

a img:hover {
	transform: scale(1.2);
}

a {
    text-decoration: none;
}

@media (prefers-color-scheme: light) {
    body {
        background: linear-gradient(#edecec, #b3b5b5);
        color: #181f1f;
    }
    a {
        color: #375057;
    }
    a:hover {
        color: #243f24;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: linear-gradient(#2d302e, #2a302a);
        color: #a5a5a5;
    }
    a {
        color: #89c9db;
    }
    a:hover {
        color: #63b563;
    }
}